/*General CSS for the entire website*/

body {
	background-color: white;
}

#header {
	text-align: center;
	color: black;
	/*font-family: 'Geostar Fill';*/
	font-size: 30px;
	background-color: white;
	padding: 0.5px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #999;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid red;
}

.topnav a.active {
  border-bottom: 3px solid red;
}

#main {
	font-family: Calibri, Ariel, sans-serif;
	font-size: 20px;
}

h2 {
  text-decoration: underline;
} 